/*³õÊ¼»¯´úÂë*/
h1,
h2,
h3,
h4,
body,
div,
span,
a,
input,
img,
p,
i,
em,
strong,
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #b25806;
}
input {
    border:0 none;
    outline: none;
}
img {
    border: 0 none;
    vertical-align: middle;
}
li {
    list-style: none;
}
i,
em {
    font-style: normal;
}
h1,
h2,
h3,
h4 {
    font-style: normal;
}
body {
    font: 12px/100% "Microsoft YaHei";
    background-color: #fff;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
